h2{
    font-size: 50px;
    text-align: center;
    font-family: 'PlayfairDisplay',sans-serif;
    font-weight: 900;
    margin-bottom: 35px;
    line-height: 1.2;
    @media(max-width: 1199px){
      font-size: 40px;
    }
    @media(max-width: 1199px){
      font-size: 30px;
    }
  }
  .see-more-btn{
    background: #c8aa7b;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 30px;
    font-weight: 700;
    @media(max-width: 991px){
      margin-top: 15px;
    }
    &:hover{
      background: #5d3d0b;
      color: #ffffff;
    }
    i{}
  }
  .add-to-cart-btn{
    background: #c8aa7b;
    color: #ffffff;
    padding: 10px 8px 10px 40px;
    border-radius: 5px;
    font-size: 13px;
    position: relative;
    z-index: 3;
    border: none;
    img{
      width: 25px;
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover{
      background: #5d3d0b;
      color: #ffffff;
    }
  }
  p{
    margin-bottom: 10px;
  }
  .slick-arrow{
    width: 30px;
    position: absolute;
    bottom: -40px;
    &.arrow-left{
      left: 40%;
      @media(max-width: 767px){
        left: 35%;
      }
    }
    &.arrow-right{
      transform: rotateY(180deg);
      right: 40%;
      @media(max-width: 767px){
        right: 35%;
      }
    }
  }
  body{
    &:after{
      content: '';
      display: block;
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
      background-color: #000;
      transition: all 0.5s ease;
      z-index: 2;
    }
    &.is-show-menu{
      position: relative;
      &:after{
        opacity: 0.65;
        visibility: visible;
      }
    }
  }
  