*{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-weight: inherit;
}
input, textarea{
  border: 1px solid #333;
  padding: 13px 15px;
  &:focus{
    border:1px solid #3B5998;
    outline: none;
  }
}
textarea{
  resize: none;
}
body{
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #5e5a54;
  font-size: 14px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
button{
  cursor: pointer;
  transition: all .4s ease;
  &:focus{
    outline: none;
  }
}
a{
  transition: all 0.5s ease;
  display: inline-block;
  color: #5e5a54;
  text-decoration: none;
  cursor: pointer;
}

input{
  &:focus{
    outline: none;
  }
}

::-webkit-input-placeholder { /* Edge */
  color: #9ca7b4;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9ca7b4;
}

::placeholder {
  color: #9ca7b4;
}

input[type="checkbox"]{
  -webkit-appearance: none;
  background: #fff;
  width: 20px;
  height: 20px;
  border: 1px solid #afafaf;
  position: relative;
  cursor: pointer;
  outline: none;
  //border-radius: 5px;
}
input[type="checkbox"]:after{
  content: '';
  width: 5px;
  height: 10px;
  border-bottom: 2px solid #bcdf00;
  border-right: 2px solid #bcdf00;
  position: absolute;
  left: 7px;
  top: 3px;
  opacity: 0;
  transform: rotate(45deg);
}
input[type="checkbox"]:checked{
  outline: none;
  background: #ffffff;
}
input[type="checkbox"]:checked:after{
  opacity: 1;
}

input[type="radio"]{
  -webkit-appearance: none;
  background: #fff;
  width: 21px;
  height: 21px;
  border: 1px solid #e5e5e5;
  position: relative;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
}
input[type="radio"]:after{
  content: '';
  width: 13px;
  height: 13px;
  background: #ec6262;
  position: absolute;
  left: 3px;
  top: 3px;
  opacity: 0;
  border-radius: 50%;
}
input[type="radio"]:checked{
  outline: none;
  background: #fff;
}
input[type="radio"]:checked:after{
  opacity: 1;
}

