#why_choose_us{
    padding: 70px 0 20px;
    .content{
      text-align: center;
      @media(max-width: 991px){
        margin-bottom: 50px;
      }
      @media(min-width: 1200px){
        &:hover{
          .icon{
            background: white;
            i{
              color: #c8aa7b;
            }
          }
        }
      }
      .icon{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #c8aa7b;
        border: 2px solid #c8aa7b;
        transition: all .5s ease;
        i{
          font-size: 50px;
          color: #ffffff;
          transition: all .5s ease;
        }
      }
      .name{
        font-size: 25px;
        color: #242424;
        font-family: 'PlayfairDisplay',sans-serif;
        font-weight: 900;
        margin: 15px 0;
        @media(max-width: 1199px){
          font-size: 20px;
        }
      }
      .des{

      }
    }
  }