#footer{
  background: #242424;
  color: #959595;
  padding-top: 30px;
  .col-lg-4{
    @media(max-width: 991px){
      margin-bottom: 50px;
    }
  }
  .content{
    h3{
      font-family: 'PlayfairDisplay',sans-serif;
      color: #ffffff;
      font-weight: 900;
      font-size: 25px;
      margin-bottom: 20px;
      @media(max-width: 767px){
        font-size: 20px;
      }
    }
  }
  .homeCol{
    a{}
    p{
      margin: 20px 0;
    }
    ul{
      display: flex;
      li{
        margin-right: 15px;
        a{
          &:hover{
            span{
              background: #ffffff;
              i{
                color: #c7aa7b;
              }
            }
          }
          span{
            width: 30px;
            height: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: #c7aa7b;
            i{
              font-size: 18px;
              color: white;

            }
          }
        }
      }
    }
  }
  .contact{
    h3{}
    ul{
      li{
        position: relative;
        padding-left: 25px;
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
        i{
          position: absolute;
          left: 0;
          top: 2px;
          color: #c8aa7b;
          font-size: 18px;
        }
        span{
          font-weight: 700;
          color: #c8aa7b;
        }
      }
    }
  }
  .recentPost{
    ul{
      li{
        position: relative;
        padding-left: 85px;
        margin-bottom: 30px;
        &:hover{
          h4{
            opacity: 0.6;
          }
        }
        &:last-child{
          margin-bottom: 0;
        }
        img{
          width: 70px;
          height: 70px;
          object-fit: cover;
          position: absolute;
          left: 0;
        }
        h4{
          font-weight: 700;
          color: #c8aa7b;
          margin-bottom: 5px;
          transition: all 0.5s ease;
        }
        h6{}
        a{
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }
    }
  }
  .copyright{
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    background: #1a1a1a;
    @media(max-width: 991px){
      margin-top: 0;
    }
  }
}
