#banner{
    position: relative;
    &:after{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 3;
      left: 0;
      top: 0;
      background: #000000;
      opacity: 0.4;
    }
    .img_banner{
      height: calc(100vh - 132px);
      object-fit: cover;
    }
    .content{
      color: #ffffff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 4;
      text-align: center;
      width: 100%;
      .logo_banner{
        width: 150px;
      }
      h1{
        font-family: 'PlayfairDisplay',sans-serif;
        font-weight: 900;
        font-size: 60px;
        @media(max-width: 991px){
          font-size: 50px;
        }
        @media(max-width: 767px){
          font-size: 35px;
          margin: 20px 0;
        }
      }
      h4{
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        img{
          @media(max-width: 767px){
            width: 75px;
          }
        }
      }
      .wrapper{
        position: relative;
        margin-top: -90px;
        @media(max-width: 1440px){
          margin-top: -75px;
        }
        @media(max-width: 767px){
          margin-top: -15px;
        }
        img{
          width: 900px;
        }
        .shop_btn{
          display: inline-block;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 30px;
          background: #b88f63;
          padding: 10px 20px;
          border-radius: 10px;
          cursor: pointer;
          @media(max-width: 991px){
            font-size: 25px;
          }
          @media(max-width: 767px){
            font-size: 16px;
          }
        }
      }
    }
  }