.pagination{
    text-align: center;
    margin-top: 30px;
    ul{
      display: inline-flex;
      li{
        margin-right: 5px;
        &.prev{
          a{
            i{
              font-size: 10px;
            }
          }
        }
        &.active, &:hover{
          a{
            color: #ffffff;
            background: #c8aa7b;
          }
        }
        a{
          color: #5e5a54;
          border: 1px solid #e2e0dc;
          background: #ffffff;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          font-weight: 700;
        }
      }
    }
  }