#productPage{
    #products{
      padding: 70px 0;
      .wrapperProduct{
        margin-bottom: 30px;
      }
      &.listStyle{
        .col-lg-3{
          flex: 0 0 100%;
          max-width: 100%;
        }
        .wrapperProduct{
          display: flex;
          flex-wrap: wrap;
          text-align: left;
          margin-bottom: 20px;
          padding-bottom: 0;
          @media(max-width: 767px){
            padding-bottom: 10px;
          }
          .img{
            width: 400px;
            @media(max-width: 767px){
              width: 100%;
            }
            img{}
          }
          .content{
            width: calc(100% - 400px);
            padding: 0 40px 0 60px;
            @media(max-width: 991px){
              padding: 0 10px 0;
            }
            @media(max-width: 767px){
              width: 100%;
            }
            .info{
              @media(max-width: 767px){
                padding-top: 0;
              }
              .name{}
              .description{
                display: block;
              }
              .price{}
            }
          }
        }
      }
      .searchShowing{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .search{
          width: 300px;
        }
        .showing{
          display: flex;
          .showStyle{
            cursor: pointer;
            background: white;
            transition: all .5s ease;
            margin-left: 10px;
            width: 35px;
            height: 35px;
            border: 1px solid #c8aa7b;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            &:hover{
  
            }
            &.active{
              background: #c8aa7b;
              i{
                color: white;
              }
            }
            i{
              color: #c8aa7b;
              font-size: 18px;
            }
          }
        }
      }
      .pagination{
        margin-top: 30px;
      }
    }
  }