.form{
  input, textarea{
    border: 1px solid #b5b2ac;
  }
  .input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    input{
      width: calc(33.33% - 10px);
      @media(max-width: 991px){
        width: 100%;
        margin-bottom: 15px;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  textarea{
    width: 100%;
    min-height: 140px;
  }
  .submit_btn{
    border: none;
    margin-top: 15px;
  }
}
