

// .title-post{
//   font-weight: 900;
//   font-family: 'PlayfairDisplay',sans-serif;
//   color: #242424;
//   font-size: 20px;
//   border-bottom: 1px solid #5e5a54;
//   position: relative;
//   padding: 5px 0;
//   margin-bottom: 20px;
//   &:after{
//     content: '';
//     display: block;
//     height: 1px;
//     width: 100%;
//     position: absolute;
//     bottom: -4px;
//     background: #5e5a54;
//   }
// }
// .list-categories{
//   margin-bottom: 30px;
//   ul{
//     display: flex;
//     justify-content: center;
//     @media(max-width: 767px){
//       justify-content: space-between;
//       flex-wrap: wrap;
//     }
//     li{
//       text-transform: capitalize;
//       font-size: 25px;
//       font-family: 'PlayfairDisplay',sans-serif;
//       font-weight: 900;
//       position: relative;
//       margin: 0 15px;
//       cursor: pointer;
//       @media(max-width: 1199px){
//         font-size: 20px;
//       }
//       @media(max-width: 767px){
//         width: 50%;
//         margin: 0;
//         text-align: center;
//       }
//       &:last-child{
//         &:after{
//           display: none;
//         }
//       }
//       &:after{
//         content: '/';
//         margin-left: 30px;
//       }
//       &.active{
//         color: #c8aa7b;
//       }
//     }
//   }
// }
.form{
  input, textarea{
    border: 1px solid #b5b2ac;
  }
  .input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    input{
      width: calc(33.33% - 10px);
      @media(max-width: 991px){
        width: 100%;
        margin-bottom: 15px;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  textarea{
    width: 100%;
    min-height: 140px;
  }
  .submitBtn{
    border: none;
    margin-top: 15px;
  }
}
